V308CMS.Data/obj/Debug/
V308CMS.Common/obj/Debug/
V308CMS.Revenue/obj/Debug/
V308CMS.Sale/obj/Debug/
V308CMS/obj/Debug/
V308CMS.Common/obj/Release/
V308CMS/obj/Release/Package/PackageTmp/Content/Admin/Plugins/ckfinder/*.xml
V308CMS/obj/Release/Package/PackageTmp/Content/Admin/Plugins/ckfinder/*.html
V308CMS/obj/Release/Package/PackageTmp/Content/Admin/Plugins/ckfinder/help/
V308CMS/obj/Release/
V308CMS.Sale/obj/Release/
V308CMS.Revenue/obj/Release
V308CMS.Data/obj/Release/
V308CMS/Content/thumb/
V308CMS/bin/*.xml
V308CMS.Data/bin/*.xml
V308CMS.Common/bin/System.Web.*
V308CMS.Common/bin/Newtonsoft.Json.xml
V308CMS.Common/bin/System.Net.Http.Formatting.xml
V308CMS.Sale/Content/thumb/100x100
V308CMS.Sale/Content/thumb/160x99/
V308CMS.Sale/Content/thumb/536x271
V308CMS.Sale/Content/thumb/300x170/
_UpgradeReport_Files/UpgradeReport_Warning.png
_UpgradeReport_Files/UpgradeReport_Success.png
V308CMS.Static/bin/ImageResizer.xml
V308CMS.Static/bin/ImageResizer.Plugins.PrettyGifs.xml
V308CMS.Static/bin/ImageResizer.Plugins.FriendlyUrls.xml
V308CMS.Static/bin/ImageResizer.Plugins.DiskCache.xml
V308CMS.Static/bin/ImageResizer.Plugins.AnimatedGifs.xml
V308CMS.Revenue/bin/System.Web.WebPages.xml
V308CMS.Revenue/bin/System.Web.WebPages.Razor.xml
V308CMS.Revenue/bin/System.Web.WebPages.Deployment.xml
V308CMS.Revenue/bin/System.Web.Razor.xml
V308CMS.Revenue/bin/System.Web.Mvc.xml
V308CMS.Revenue/bin/System.Web.Http.xml
V308CMS.Revenue/bin/System.Web.Http.WebHost.xml
V308CMS.Revenue/bin/System.Web.Helpers.xml
V308CMS.Revenue/bin/System.Net.Http.Formatting.xml
V308CMS.Revenue/bin/Newtonsoft.Json.xml
V308CMS.Revenue/bin/ClosedXML.xml
V308CMS.Respository/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
V308CMS.Respository/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
_UpgradeReport_Files/UpgradeReport_Information.png
_UpgradeReport_Files/UpgradeReport_Error.png
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport.css
V308CMS.Static/obj/Release/_WPPLastBuildInfo.txt
V308CMS.Static/obj/Release/V308CMS.Static.csproj.FileListAbsolute.txt
V308CMS.Static/obj/Release/TransformWebConfig/transformed/Web.config
V308CMS.Static/obj/Release/TransformWebConfig/original/Web.config
V308CMS.Static/obj/Release/TransformWebConfig/assist/Web.config
V308CMS.Static/obj/Release/Package/PackageTmp/upload/img/red-leaf.jpg
V308CMS.Static/obj/Release/Package/PackageTmp/packages.config
V308CMS.Static/obj/Release/Package/PackageTmp/index.html
V308CMS.Static/obj/Release/Package/PackageTmp/Web.config
V308CMS.Static/obj/Release/Package/PackageTmp/Global.asax
V308CMS.Static/bin/Newtonsoft.Json.xml
V308CMS.Respository/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
V308CMS.Respository/obj/Debug/V308CMS.Respository.csproj.FileListAbsolute.txt
V308CMS.Respository/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
V308CMS.Respository/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
V308CMS.Respository/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
V308CMS.Admin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
V308CMS.Admin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
V308CMS.Admin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UpgradeLog2.htm
UpgradeLog2.XML
UpgradeLog.XML
