@using V308CMS.Admin.Helpers.Url
@{
    ViewBag.Title = "ChucNang";
    ViewBag.MenuValue = 0;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="UpdatePanel1">
    <div style="text-align:center;">
        <span id="ContentPlaceMain_lblConnect"></span>
        <img id="ContentPlaceMain_Image1" src="@Url.CreateNewImageUrl()"  style="margin: 20px auto;">
        <div style="color:red;font-weight:600;font-size:16px;">Chức năng này bị khóa hoặc bạn không có quyền truy cập chức năng này</div>
        <hr>
    </div>
    <div id="UpdateProgress1" style="display: none;" role="status" aria-hidden="true">
        <div class="area">
        </div>
        <div class="form-loading">
        </div>
    </div>
</div>
