@{
    Layout = null;
    ViewBag.Title = "Trang chủ";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Header")
</head>

<body>

    <div id="wrapper">
       @Html.Partial("_Navigation")
        <div id="page-wrapper" style="min-height: 923px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6" data-url="order-count-url">
                
            </div>
            <div class="col-lg-3 col-md-6" data-url="customer-count-url">
               
            </div>
            <div class="col-lg-3 col-md-6" data-url="contact-count-url">
              
            </div>

            <div class="col-lg-3 col-md-6" data-url="product-count-url">
               
            </div>
        </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12" data-url="order-url">
                    
                </div>
            <div class="col-md-12" data-url="customer-url">
              
            </div>
                <div class="col-md-12" data-url="contact-url">
                  
                </div>
                    <!-- /.col-lg-4 -->
                </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    @Html.Partial("_Js")
   
</body>

</html>