<ul class="adminmenu">
    <li>
        <a href="/"><span class="fa fa-home"></span>Trang Chủ</a>
    </li>
    <li>
        <a href="/san-pham"><span class="fa fa-shopping-cart"></span>Sản Phẩm</a>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-gift"></span>Tin Khuyến mại</a>
        <ul>
            <li><a href="javascript:void(0)" >Khuyến mại mới <span class="notification-red"></span></a></li>
            <li><a href="javascript:void(0)" >Mã giảm giá <span class="notification-red"></span></a></li>
            <li><a href="/chuong-trinh-thuc-day" >Chương trình thúc đẩy</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-dollar"></span>Công cụ kiếm tiền</a>
        <ul>
            <li class="selected"  ><a href="/link/tao-moi" >Tạo Link bán hàng</a></li>
            <li><a href="/link" >Link đã tạo</a></li>
            <li><a href="baner/tao-moi" >Tạo Banner</a></li>
            <li><a href="javascript:void(0)" >Tạo Voucher <span class="notification-red"></span></a></li>
            <li><a href="javascript:void(0)" >Tạo Website riêng <span class="notification-red"></span></a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-paste"></span>Báo cáo</a>
        <ul>
            <li><a href="javascript:void(0)" >Báo cáo click</a></li>
            <li><a href="javascript:void(0)" >Báo cáo đơn hàng</a></li>
            <li><a href="javascript:void(0)" >Báo cáo Hiệu quả</a></li>
            <li><a href="javascript:void(0)" >Top giảm giá</a></li>
            <li><a href="javascript:void(0)" >Kiểm tra mã đơn hàng</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)" ><span class="fa fa-headphones"></span>Hỗ Trợ</a>
        <ul>
            <li><a href="/huong-dan" >Hướng dẫn</a></li>
            <li><a href="/quy-dinh" >Quy định</a></li>
            <li><a href="/chinh-sach" >Chính sách</a></li>
            <li><a href="/ve-affiliate" >Về Affiliate</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-group"></span>Hệ Thống Affiliate</a>
        <ul>
            <li><a href="javascript:void(0)" >Hệ thống <span class="notification-red"></span></a></li>
            <li><a href="javascript:void(0)" >Top xuất sắc <span class="notification-red"></span></a></li>
            <li><a href="javascript:void(0)" >Vinh danh cá nhân</a></li>
            <li><a href="javascript:void(0)" >Hỗ trợ Affiliate <span class="notification-red"></span></a></li>
            <li><a href="javascript:void(0)" >Kiến nghị lãnh đạo</a></li>
        </ul>
    </li>
</ul>
