<ul class="adminmenu">
    <li>
        <a href="/"><span class="fa fa-facebook"></span>Trang Chủ</a>
    </li>
    <li>
        <a href="javascript:void(0)"><span class="fa fa-facebook"></span>Sản Phẩm</a>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-facebook"></span>Tin Khuyến mại</a>
        <ul>
            <li><a href="javascript:void(0)" >Khuyến mại mới</a></li>
            <li><a href="javascript:void(0)" >Mã giảm giá</a></li>
            <li><a href="javascript:void(0)" >Chương trình thúc đẩy</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-facebook"></span>Công cụ kiếm tiền</a>
        <ul>
            <li><a href="javascript:void(0)" >Tạo Link bán hàng</a></li>
            <li><a href="javascript:void(0)" >Link đã tạo</a></li>
            <li><a href="javascript:void(0)" >Tạo Banner</a></li>
            <li><a href="javascript:void(0)" >Tạo Voucher</a></li>
            <li><a href="javascript:void(0)" >Tạo Website riêng</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-facebook"></span>Báo cáo</a>
        <ul>
            <li><a href="javascript:void(0)" >Báo cáo click</a></li>
            <li><a href="javascript:void(0)" >Báo cáo đơn hàng</a></li>
            <li><a href="javascript:void(0)" >Báo cáo Hiệu quả</a></li>
            <li><a href="javascript:void(0)" >Top giảm giá</a></li>
            <li><a href="javascript:void(0)" >Kiểm tra mã đơn hàng</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-facebook"></span>Hỗ Trợ</a>
        <ul>
            <li><a href="javascript:void(0)" >Hướng dẫn</a></li>
            <li><a href="javascript:void(0)" >Quy định</a></li>
            <li><a href="javascript:void(0)" >Chính sách</a></li>
            <li><a href="javascript:void(0)" >Về Affiliate</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-facebook"></span>Hệ Thống Affiliate</a>
        <ul>
            <li><a href="javascript:void(0)" >Hệ thống</a></li>
            <li><a href="javascript:void(0)" >Top xuất sắc</a></li>
            <li><a href="javascript:void(0)" >Vinh danh cá nhân</a></li>
            <li><a href="javascript:void(0)" >Hỗ trợ Affiliate</a></li>
            <li><a href="javascript:void(0)" >Kiến nghị lãnh đạo</a></li>
        </ul>
    </li>
</ul>
