<div class="item-poduct">






















    <div class="grid-3  grid-item product-item product-hover product-review" id="product-7824329673">



        <div class="product-image ">

            <div class="product-label">

                <label class="label">Sale</label>


            </div>


            <a href="/collections/fashion/products/clear-view-cover-case-to-galasy" class="grid-image">
                <img class="feature-images" src="//cdn.shopify.com/s/files/1/1498/2346/products/4_large.jpg?v=1486347635" alt="Clear View Cover Case to Galasy">

                <span class="product-hover" data-idproduct="7824329673">




                    <img class="img-responsive" alt="Clear View Cover Case to Galasy" src="//cdn.shopify.com/s/files/1/1498/2346/products/13_9c73ecfe-6c00-4308-a9e6-b5ee625e363b_large.jpg?v=1486347635">
                </span>


            </a>

            <div class="quickview-button">
                <a href="javascript:void(0)" id="clear-view-cover-case-to-galasy" data-toggle="tooltip" data-placement="top" title="Quick View" class="sca-qv-button btn">Quick View</a>
            </div>

        </div>
        <div class="product-content">
            <h3><a class="product-title" href="/collections/fashion/products/clear-view-cover-case-to-galasy">Clear View Cover Case to Galasy
                
            </a></h3>
            <div class="price-box">

                <p class="sale">
                    <span class="special-price"><span class="money">$129.00</span></span>
                    <span class="old-price"><span class="money">$149.00</span></span>
                </p>

            </div>

            <span class="shopify-product-reviews-badge" data-id="7824329673"></span>

            <div class="add-to-link">

                <div class="add-to-cart">

                    <form action="/cart/add" method="post" class="variants" id="product-actions-7824329673" enctype="multipart/form-data" style="padding: 0px;">


                        <span>
                            <input class="btn" type="button" title="Select options" onclick="window.location.href = '/products/clear-view-cover-case-to-galasy'" value="Select options" /></span>


                    </form>
                </div>



                <a class="wishlist btn" href="/account/login" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>


            </div>
        </div>

    </div>
</div>
