<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-book"></i>
            Liên hệ
            <a href="/Admin/Order/List" class="btn btn-xs btn-info btn-flat margin-l-10">Xem thêm</a>
        </h3>
    </div>
    <div class="box-body" style="display: block;">
        <div class="k-grid k-widget">
            <table>
                <colgroup>
                    <col style="width: 80px">
                    <col style="width: 100px">
                    <col style="width: 250px">
                    <col style="width: 100px">
                    <col style="width: 150px">
                    <col style="width: 30px">
                </colgroup>
                <thead class="k-grid-header">
                    <tr>
                        <th class="k-header">#</th>
                        <th class="k-header">Email</th>
                        <th class="k-header">SĐT</th>
                        <th class="k-header">Tin nhắn</th>
                        <th class="k-header">Ngày gửi</th>
                        <th style="text-align: center" class="k-header">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>toaihv@gmail.com</td>
                        <td>0939220986</td>
                        <td>Mp start</td>
                        <td>3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5">
                                <i class="fa fa-eye"></i>Chi tiết
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>