<div class="box box-info" id="latest-orders-box">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-cart-plus"></i>
            Đơn hàng mới nhất
            <a href="/Admin/Order/List" class="btn btn-xs btn-info btn-flat margin-l-10">Xem thêm</a>
        </h3>
    </div>
    <div class="box-body" style="display: block;">
        <div id="orders-grid" data-role="grid" class="k-grid k-widget">
            <table role="grid">
                <colgroup>
                    <col style="width: 80px">
                    <col style="width: 100px">
                    <col style="width: 250px">
                    <col style="width: 100px">
                    <col style="width: 150px">
                    <col style="width: 30px">
                </colgroup>
                <thead class="k-grid-header" role="rowgroup">
                    <tr role="row">
                        <th role="columnheader" data-field="CustomOrderNumber" data-title="Order #" class="k-header">Order #</th>
                        <th role="columnheader" data-field="OrderStatus" data-title="Order status" class="k-header">Order status</th>
                        <th role="columnheader" data-field="CustomerEmail" data-title="Customer" class="k-header">Customer</th>
                        <th role="columnheader" data-field="StoreName" data-title="Store" class="k-header">Store</th>
                        <th role="columnheader" data-field="CreatedOn" data-title="Created on" class="k-header">Created on</th>
                        <th role="columnheader" data-field="Id" data-title="View" style="text-align: center" class="k-header">View</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    <tr data-uid="dae14b02-8c4b-497c-97bf-bda5c1ffa23e" role="row">
                        <td role="gridcell">5</td>
                        <td role="gridcell">
                            <span class="grid-report-item  green ">Complete</span>
                        </td>
                        <td role="gridcell">Victoria Terces (victoria_victoria@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5"><i class="fa fa-eye"></i>View</a>
                        </td>
                    </tr>
                    <tr data-uid="dae14b02-8c4b-497c-97bf-bda5c1ffa23e" role="row">
                        <td role="gridcell">5</td>
                        <td role="gridcell">
                            <span class="grid-report-item  green ">Complete</span>
                        </td>
                        <td role="gridcell">Victoria Terces (victoria_victoria@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5"><i class="fa fa-eye"></i>View</a>
                        </td>
                    </tr>
                    <tr data-uid="dae14b02-8c4b-497c-97bf-bda5c1ffa23e" role="row">
                        <td role="gridcell">5</td>
                        <td role="gridcell">
                            <span class="grid-report-item  green ">Complete</span>
                        </td>
                        <td role="gridcell">Victoria Terces (victoria_victoria@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5"><i class="fa fa-eye"></i>View</a>
                        </td>
                    </tr>
                    <tr data-uid="dae14b02-8c4b-497c-97bf-bda5c1ffa23e" role="row">
                        <td role="gridcell">5</td>
                        <td role="gridcell">
                            <span class="grid-report-item  green ">Complete</span>
                        </td>
                        <td role="gridcell">Victoria Terces (victoria_victoria@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5"><i class="fa fa-eye"></i>View</a>
                        </td>
                    </tr>
                    <tr data-uid="dae14b02-8c4b-497c-97bf-bda5c1ffa23e" role="row">
                        <td role="gridcell">5</td>
                        <td role="gridcell">
                            <span class="grid-report-item  green ">Complete</span>
                        </td>
                        <td role="gridcell">Victoria Terces (victoria_victoria@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5"><i class="fa fa-eye"></i>View</a>
                        </td>
                    </tr>
                    <tr data-uid="dae14b02-8c4b-497c-97bf-bda5c1ffa23e" role="row">
                        <td role="gridcell">5</td>
                        <td role="gridcell">
                            <span class="grid-report-item  green ">Complete</span>
                        </td>
                        <td role="gridcell">Victoria Terces (victoria_victoria@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:10 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/5"><i class="fa fa-eye"></i>View</a>
                        </td>
                    </tr>
                    <tr class="k-alt" data-uid="31787930-a2a6-4230-aad2-c64c347a1979" role="row">
                        <td role="gridcell">4</td>
                        <td role="gridcell">
                            <span class="grid-report-item  blue ">Processing</span>
                        </td>
                        <td role="gridcell">Brenda Lindgren (brenda_lindgren@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:09 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/4">
                                <i class="fa fa-eye"></i>View
                            </a>
                        </td>
                    </tr>
                    <tr data-uid="f73e0bb5-5b7f-4dd7-95d0-4ed2de73c403" role="row">
                        <td role="gridcell">3</td>
                        <td role="gridcell">
                            <span class="grid-report-item  yellow ">Pending</span>
                        </td>
                        <td role="gridcell">James Pan (james_pan@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:09 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/3">
                                <i class="fa fa-eye"></i>View
                            </a>
                        </td>
                    </tr>
                    <tr class="k-alt" data-uid="bf464bbb-d885-4bef-9813-6c194bc9f694" role="row">
                        <td role="gridcell">2</td>
                        <td role="gridcell">
                            <span class="grid-report-item  yellow ">Pending</span>
                        </td>
                        <td role="gridcell">Arthur Holmes (arthur_holmes@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:09 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/2">
                                <i class="fa fa-eye"></i>View
                            </a>
                        </td>
                    </tr>
                    <tr data-uid="556b286b-ab0c-489c-af42-94a07bf62c4f" role="row">
                        <td role="gridcell">1</td>
                        <td role="gridcell">
                            <span class="grid-report-item  blue ">Processing</span>
                        </td>
                        <td role="gridcell">Steve Gates (steve_gates@nopCommerce.com)</td>
                        <td role="gridcell">Your store name</td>
                        <td role="gridcell">3/13/2017 6:20:09 PM</td>
                        <td style="text-align: center" role="gridcell">
                            <a class="btn btn-xs btn-default" href="/Admin/Order/Edit/1"><i class="fa fa-eye"></i>View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>