@model V308CMS.Data.News
@if (Model != null)
{ 
    <div class="shopify-section ">
        <div class="container-block m-0">
            <div class="container border-col">
                <div class="row newsfooter">
                    <div class="col-md-12 col-sm-12 col-xs-12 article-home-full" style="margin-bottom: 0;">
                        <h3><span>@Model.Title</span></h3>
                        <i class="line-red"></i>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img alt="" src="@V308CMS.Common.ImageHelper.Crop(@Model.Image, 536, 271)" class="thumb">
                    </div>
                    <div class="col-md-6 col-sm-12 content">
                        @Html.Raw(Model.Summary)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

